[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Type=simple
EnvironmentFile=-%h/.config/kanata/env.conf
Environment="PORT=1024"
ExecStart=kanata --cfg %h/.config/kanata/config.kbd --port=${PORT}
Restart=on-failure

[Install]
WantedBy=default.target
